{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event 1 - Game Rules</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'myapp/images/Vishwakarma_Institute_of_Technology.png' %}" alt="Left Logo" id="headerim1">
        <div class="college-info">
            <div class="managing-society">Bansilal Ramnath Agarwal Charitable Trust's</div>
            <div class="college-name">Vishwakarma Institute Of Information Technology, Pune</div>
            <div class="university-affiliation">(An Autonomous Institute affiliated to Savitribai Phule Pune University)</div>
        </div>
        <img src="{% static 'myapp/images/sports-club-logo.png' %}" alt="Right Logo" id="headerim2">
    </div>

    <div class="game-name">
        <h1><B>BASKETBALL</B></h>
    </div>

    <!-- Main Event Section -->
    <div class="event1-section">
        <div class="game-rules">
            <h2>Game Rules</h2>
            <ul class="rules-list">
                    <li>•	Type of Tournament: Knockout matches.
                    </li>
                    <li>•	Number of Teams: Tournament will have a total of 8 teams participating distributing in two slots(A,B).
                    </li>
                    <li>•	Team Composition:Each team must have a minimum of 7 players & maximum of 14 players.
                    </li>
                    <li>• Match Duration: Each game will consist of two 2 halves with each running half lasting seven (7) minutes in length. 
                      During the last minute of the 2nd half, the clock will stop at all dead ball situations.
                    </li>
                    <li>2. Game Rules:
                    Each team will be allowed one 1 time-out per game. A time-out will be one 1 minute in length.                       
                    </li>
                    <li>•	A jump ball will start each game. Players are allowed to be on either side of the court.
                    </li>
                    <li>•	A goal is worth one point and is registered when the ball completely breaks the vertical plane of the goal line.
                    </li>
                    <li>•	A throw-in is awarded to the opponent when one team loses the ball out of bounds on a sideline. 
                    </li>
                    <li>•	Defensive players can use their bodies to obstruct an opponent either with or without the ball. 
                    </li>
                    <li>•	Uniform:
                      Teams must wear jersey and shorts with shoes compulsory.                      
                    </li>
                    <li>Disrespectful behaviour/ use of foul language/ any form of physical altercation will lead to warnings, fouls, or ejection from game.
                    </li>
                    <li>Referees: Two referees will be assigned to each game, and their decisions are final.
                    </li> <li>Injuries and Substitutions: Players who sustain injuries must immediately leave the court.                      
                    </li>
                    <li>Player Ejection: Any player who receives 2 technical fouls will be disqualified for the rest of the game and also for the next game.
                      </li>
                    <li>Uniform Conflict: If player is not in proper uniform then he will be not allowed to play the match.
                    </li> 
                    </ul>
        </div>
        <div class="login-form">
            <h2>Student Login</h2>
            <form action="{% url 'event3' %}" method="POST">
              {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-container">
                    <button>Login</button>
                </div>                
            </form>
        </div>

    </div>
 
    <h1><B>BASKETBALL WINNERS(W)</B></h>
    <div class="podium">
        <div id="secondPlace" class="second-place podium-item">
          <span id="secondRank" class="rank">2</span>
          <div id="secondDepartment" class="department">
            <div id="secondDept1" class="dept">TO BE ANNOUNCED SOON..</div>
          </div>
          <div class="medal silver-medal"></div>
        </div>
        <div id="firstPlace" class="first-place podium-item">
          <span id="firstRank" class="rank">1</span>
          <div id="firstDepartment" class="department">
            <div id="firstDept1" class="dept">TO BE ANNOUNCED SOON..</div>
          </div>
          <div class="medal gold-medal"></div>
        </div>
        <div id="thirdPlace" class="third-place podium-item">
          <span id="thirdRank" class="rank">3</span>
          <div id="thirdDepartment" class="department">
            <div id="thirdDept1" class="dept">TO BE ANNOUNCED SOON..</div>
          </div>
          <div class="medal bronze-medal"></div>
        </div>
      </div>
      <h1><B>BASKETBALL WINNERS(M)</B></h>
      <div class="podium">
        
        <div id="secondPlace" class="second-place podium-item">
          <span id="secondRank" class="rank">2</span>
          <div id="secondDepartment" class="department">
            <div id="secondDept1" class="dept">TO BE ANNOUNCED SOON..</div>
          </div>
          <div class="medal silver-medal"></div>
        </div>
        <div id="firstPlace" class="first-place podium-item">
          <span id="firstRank" class="rank">1</span>
          <div id="firstDepartment" class="department">
            <div id="firstDept1" class="dept">TO BE ANNOUNCED SOON..</div>
          </div>
          <div class="medal gold-medal"></div>
        </div>
        <div id="thirdPlace" class="third-place podium-item">
          <span id="thirdRank" class="rank">3</span>
          <div id="thirdDepartment" class="department">
            <div id="thirdDept1" class="dept">TO BE ANNOUNCED SOON..</div>
          </div>
          <div class="medal bronze-medal"></div>
        </div>
      </div>
      
      
    <!-- Add more dots for more frequent floating effect -->
    <div class="dot">
        <div class="dot">
            <div class="dot">
                <div class="dot">
                    <div class="dot">
                        <div class="dot">
    </div>
    <div class="dot"></div>
    <div class="dot">
        <div class="dot">
            <div class="dot">
                <div class="dot">
                    <div class="dot">
                        <div class="dot">
    </div>
    <div class="dot"></div>
    <div class="dot">
        <div class="dot">
            <div class="dot">
                <div class="dot">
                    <div class="dot">
    </div>
    <div class="dot">
        <div class="dot">
            <div class="dot">
                <div class="dot">
                    <div class="dot">
    
    </div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
        

    </div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot">
       
    </div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
</body>
</html>
