{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annual Sports Meet</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'myapp/images/Vishwakarma_Institute_of_Technology.png' %}" alt="Left Logo" id="headerim1">
        <div class="college-info">
            <div class="managing-society">Bansilal Ramnath Agarwal Charitable Trust's</div>
            <div class="college-name">Vishwakarma Institute Of Information Technology, Pune</div>
            <div class="university-affiliation">(An Autonomous Institute affiliated to Savitribai Phule Pune University)</div>
        </div>
        <img src="{% static 'myapp/images/sports-club-logo.png' %}" alt="Right Logo" id="headerim2">
    </div>

    <div class="main-content">
        <h1>ANNUAL SPORTS MEET</h1>
        <h2>2024</h2>
    </div>

    <div class="leaderboard-section">
        <h3>Leaderboard</h3>
        <table class="leaderboard">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <td>{{ department.dept_name }}</td> <!-- Use dept_name from Department -->
                        <td>{{ department.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="events-section">
        <h3>Events</h3>
        <ul class="cards">
            <li class="card"  data-page-url="event1.html"><img src="{% static 'myapp/images/footballimg.jpg' %}" alt="Event 1"></a>
            </li>
            <li class="card" data-page-url="event2.html"><img src="{% static 'myapp/images/cricketimg.jpg' %}" alt="Event 2"></a>
            </li>
            <li class="card" data-page-url="event3.html"><img src="{% static 'myapp/images/basketballimg.jpg' %}" alt="Event 3"></a>
            </li>
            <li class="card" data-page-url="event4.html"><img src="{% static 'myapp/images/chessimg.jpg' %}" alt="Event 4"></a>
            </li>
            <li class="card"  data-page-url="event5.html"><img src="{% static 'myapp/images/ath.jpg' %}" alt="Event 5"></a>
            </li>
            <li class="card"  data-page-url="event6.html"><img src="{% static 'myapp/images/tug.jpg' %}" alt="Event 6"></a>
            </li>
            <li class="card"  data-page-url="event7.html"><img src="{% static 'myapp/images/volley.jpg' %}" alt="Event 7"></a>
            </li>
            <li class="card"  data-page-url="event8.html"><img src="{% static 'myapp/images/hand.jpg' %}" alt="Event 8"></a>
            </li>
            <li class="card"  data-page-url="event9.html"><img src="{% static 'myapp/images/kab.jpg' %}" alt="Event 9"></a>
            </li>
            <li class="card"  data-page-url="event10.html"><img src="{% static 'myapp/images/bad2.jpg' %}" alt="Event 10"></a>
            </li>
            <li class="card"  data-page-url="event11.html"><img src="{% static 'myapp/images/tt.jpg' %}" alt="Event 11"></a>
            </li>
            <li class="card"  data-page-url="event12.html"><img src="{% static 'myapp/images/carrom.jpg' %}" alt="Event 12"></a>
            </li>
            <li class="card"  data-page-url="event13.html"><img src="{% static 'myapp/images/khokho.jpg' %}" alt="Event 13"></a>
            </li>
        </ul>
    </div>    

    <!-- Event Schedule Section -->
    <div class="event-schedule-section">
        <h3>Event Schedule</h3>
        <table class="event-schedule">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Venue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kabaddi(M/W)</td>
                    <td>14 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Badminton(M/W)(Open)</td>
                    <td>14 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT B Building</td>
                </tr>
                <tr>
                    <td>Chess(M/W)(Open)</td>
                    <td>14 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Room</td>
                </tr>
                <tr>
                    <td>Handball(M)</td>
                    <td>14 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Volleyball(W)</td>
                    <td>14 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Carrom(M/W)(Open)</td>
                    <td>15 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Room</td>
                </tr>
                <tr>
                    <td>Kho-Kho(M/W)</td>
                    <td>15 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Basketball(M/W)</td>
                    <td>15 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VU/VIIT Basketball Court</td>
                </tr>
                <tr>
                    <td>Athletics(Shotput/discus)</td>
                    <td>15 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Tug of War</td>
                    <td>15 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Cricket(M/W)</td>
                    <td>16 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Table-Tennis(M/W)(Open)</td>
                    <td>16 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Room</td>
                </tr>
                <tr>
                    <td>Football(M/W)</td>
                    <td>17 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Athletics(M/W)(100m (open), 4*100 relay)</td>
                    <td>17 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>Volleyball(M)</td>
                    <td>14 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <tr>
                    <td>E-Sports</td>
                    <td>19 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Seminar Hall</td>
                </tr>
                <tr>
                    <td>Prize Distribution</td>
                    <td>19 October 2024</td>
                    <td>12:00 pm - 7:00 pm</td>
                    <td>VIIT Sports Ground</td>
                </tr>
                <!-- Add more events as needed -->
            </tbody>
        </table>
    </div>

    <!-- Add more dots for more frequent floating effect -->
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>

    <script>
        var eventUrls = {
            0: "{% url 'event1' %}",
            1: "{% url 'event2' %}",
            2: "{% url 'event3' %}",
            3: "{% url 'event4' %}",
            4: "{% url 'event5' %}",
            5: "{% url 'event6' %}",
            6: "{% url 'event7' %}",
            7: "{% url 'event8' %}",
            8: "{% url 'event9' %}",
            9: "{% url 'event10' %}",
            10: "{% url 'event11' %}",
            11: "{% url 'event12' %}",
            12: "{% url 'event13' %}",
            // Add more mappings if needed
        };
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'myapp/script.js' %}"></script>

</body>
</html>
